.hero {
  background-color: #495e57;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-block: 5rem;
}
.hero > div {
  width: 30%;
}

.hero img {
  width: 100%;
  height: 18rem;
  border-radius: 50px;
  object-fit: cover;
  object-position: center;
}

.hero h1 {
  color: #f4ce14;
  font-size: 3em;
}
.hero h2 {
  color: #ffffff;
  font-size: 2em;
}
.hero p {
  color: #ffffff;
  font-size: 1.4em;
  width: 70%;
  margin-block: 2rem;
}
